.footer {
  grid-area: footer;
  writing-mode: vertical-rl;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 30px;
  transform: rotate(180deg);

  font-family: Helvetica, sans-serif;
}

.footer h3, .footer small {
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.footer h3 {
  color: var(--secondary);
}

.footer small {
  color: var(--tertiary);
}