.main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  
  padding-left: 20px;
}

.main span {
  display: flex;
  justify-content: center;

  width: 130px;
  height: 164px;
  border-radius: 100px;

  background: var(--silver);
}

.main span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 136px;
  width: 1px;
  height: 100vh;
  background: #454545;
  z-index: -1;
}

.main span img {
  width: 100px;
  height: auto;

  margin: auto;
}

.main h1 {
  font-size: 5.625rem;
  line-height: 4.375rem;

  width: 100%;
  max-width: 386px;

  margin: 54px 0 20px;
}

.main h2 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.05em;

  padding-left: 4px;
}